[user]
    name = Tomas Tomecek
    email = ttomecek@redhat.com
    signingkey = CE74F827
[color]
    ui = auto
[core]
    editor = nvim
    ignorecase = false
    excludesfile = ~/.gitign
    pager = delta
[interactive]
    diffFilter = delta --color-only
[alias]
    co = checkout
    br = branch
    a = add
    r = reset
    s = switch
[pull]
    rebase = true
[push]
    default = current
    followTags = true
[diff]
    tool = vimdiff
    colorMoved = default
[difftool]
    prompt = false
[tig "bind"]
    status = C !git commit --verbose
    main = R !git rebase -i %(commit)^
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
[submodule]
    fetchJobs = 4
[commit]
    template = ~/.dotfiles/git/.git-template
[remote "origin"]
    # github, pagure
    fetch = +refs/pull/*/head:refs/remotes/origin/pr/*
    # gitlab
    fetch = +refs/merge-requests/*/head:refs/remotes/origin/mr/*
    tagOpt = --tags
[remote "upstream"]
    # github, pagure
    fetch = +refs/pull/*/head:refs/remotes/upstream/pr/*
    # gitlab
    fetch = +refs/merge-requests/*/head:refs/remotes/upstream/mr/*
    tagOpt = --tags
[rerere]
    enabled = true
[help]
    autocorrect = -42
[init]
    defaultBranch = main
[safe]
    directory = /tmp/sandcastle
[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    syntax-theme = Solarized (dark)
    line-numbers = true
