[user]
    name = Tomas Tomecek
    email = ttomecek@redhat.com
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitign
[alias]
    ci = commit --verbose
    st = status
    co = checkout
    br = branch
    pu = push
    a = add
    d = diff
    r = reset
    rb = rebase
    s = stash
[push]
    default = current
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[tig "bind"]
    status = C !git commit --verbose
[merge]
    tool = vimdiff
    conflictstyle = diff3
    prompt = false
