[submodule "ext/dircolors-solarized"]
	path = ext/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "ext/mc"]
	path = ext/mc
	url = https://github.com/peel/mc.git
[submodule "ext/zsh-git-prompt"]
	path = ext/zsh-git-prompt
	url = https://github.com/olivierverdier/zsh-git-prompt
[submodule "mail"]
	path = mail
	url = git@vm:/var/lib/git/dotfiles-mail.git
[submodule "sbin"]
	path = sbin
	url = git@vm:/var/lib/git/dotfiles-sbin.git
[submodule "xfce4"]
	path = xfce4
	url = git@vm:/var/lib/git/dotfiles-xfce4.git
