[submodule "ext/dircolors-solarized"]
	path = ext/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "ext/mc"]
	path = ext/mc
	url = https://github.com/peel/mc.git
[submodule "mail"]
	path = mail
	url = jahoda:gitkwak/dotfiles-mail.git
[submodule "sbin"]
	path = sbin
	url = jahoda:gitkwak/dotfiles-sbin.git
[submodule "mysterious-keybinds"]
	path = mysterious-keybinds
	url = git@github.com:TomasTomecek/mysterious-keybinds
